* { margin: 0; padding: 0; }
.b-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: .4fr .1fr 2.2fr .3fr;
    grid-template-areas:
        "header header header header header header header header header header header header"
        "nav nav nav nav nav nav nav nav nav nav aside aside"
        "main main main main main main main main main main aside aside"
        "footer footer footer footer footer footer footer footer footer footer aside aside";
        
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #3c3c3c;
}
.nav {
    grid-area: nav;
    background-color: #b5b0fb;
}
.main {
    grid-area: main;
    background-color: #b0f7fb;
}
.aside {
    grid-area: aside;
    background-color: #fbbfbf;
}
.footer {
    grid-area: footer;
    background-color: #dbfbb0;
}